url:
  - http://site1.com
  - https://site2.net
  - http://site3.org/robots.txt
  - http://users.site4.org/report.json


global:
  http_connection_timeout: 10
  valid_http_code: [200, 301, 302]
  slack: True
  slack_webhook: "https://hooks.slack.com/services/x/y/z"
